<br>
<form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="input1" class="col-sm-4 control-label">Search by product</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="input1" placeholder="Product Name" ng-model="filterTxn">
          </div>
        </div>
</form>
<br>
<table class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th>Категория</th>
			<th>Продукты</th>
		</tr>
	</thead>
	<tbody ng-repeat="ex in product">
		 <tr ng-repeat="ex2 in ex.product | filter: filterTxn">
			 <td>{{ex.category}}</td>
			 <td>{{ex2.product}}</td>
		</tr>
	</tbody>
</table>

